<h1>Buildings</h1>

<app-spinner *ngIf="isLoading"></app-spinner>

<div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
</div>

<select *ngIf="!errorMessage && !isLoading" (change)="handleChange($event)">
    <option value="">-- Select a building --</option>
    <option *ngFor="let building of buildings()" [value]="building.name">
        {{ building.name }}
    </option>
</select>

<app-who-is-in-the-building *ngIf="!errorMessage && !isLoading"></app-who-is-in-the-building>