<h1>Buildings</h1>

@if(isLoading) {
    <app-spinner></app-spinner>
}

@if(errorMessage) {
    <div class="error">
        {{ errorMessage }}
    </div>
}

@if(!errorMessage && !isLoading) {
<select (change)="handleChange($event)">
    <option value="">-- Select a building --</option>
    @for(building of buildings(), track: $index) {
    <option [value]="building.name">
        {{ building.name }}
    </option>
    }
</select>

}

@if(!errorMessage && !isLoading) {
   <app-who-is-in-the-building></app-who-is-in-the-building>
}

